@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);

.my__container.event-item {
  margin: 1.5rem auto;
}
.my__container.event-item.past {
  opacity: 0.6;
}
.event-item_title-past {
  margin: 30px auto 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.event-item_feedback-link {
  display: block;
  margin: 0 auto;
  font-size: 17px;
  color: rgba(22, 160, 133, 0.7);
}
.event-item__desctiption,
.event-item__owner,
.event-item__info {
  font-family: 'varela round', sans-serif;
}
.event-item__desctiption h3,
.event-item__info h3 {
  font-weight: 700;
  color: #16a085;
}
.event-item__info {
  font-size: 1.2rem;
  line-height: 2rem;
}
.event-item__info div span:first-child {
  font-weight: 600;
}
.event-item__info div:nth-child(3) span:last-child,
.event-item__info div:nth-child(4) span:last-child {
  text-transform: uppercase;
  font-weight: 600;
  color: #0098ab;
}
.event-item__img {
  position: relative;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.map-container {
  padding: 10px 0;
}
.map-container {
  height: 50vh;
}
.event-item__img figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  height: 60vh;
}
.event-item__img figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.event-item__desctiption {
  padding-top: 20px;
  padding-bottom: 20px;
}
.event-item__owner {
  padding: 20px 0px;
}
.event-item__gallery {
  padding: 20px 0px;
  margin: 10px 0 20px 0;
}
.row__description {
  margin-right: 0px;
  margin-left: 0px;
}
.img-wrapper {
  height: 100%;
}
