.join__us {
  padding: 50px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}
.join__us-title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
}
.join__us-title span {
  font-weight: 700;
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
}
.join__us-items {
  display: flex;
  justify-content: space-between;
}
.join__us-item {
  padding: 10px;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.join__us-item span {
  display: block;
}
/* .join__us-icon {
  padding: 20px;
  font-size: 80px;
  margin-bottom: 15px;
  background: #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.join__us-icon:hover {
  background: linear-gradient(
    75deg,
    rgba(2, 0, 36, 1) 31%,
    rgba(22, 160, 133, 1) 53%,
    rgba(42, 164, 152, 1) 79%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
