@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Quicksand:400,500,700&display=swap');

/*
font-family: 'Quicksand', sans-serif;
font-family: 'Lato', sans-serif;
*/

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?aiju61');
  src: url('/fonts/icomoon.eot?aiju61#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?aiju61') format('truetype'),
    url('/fonts/icomoon.woff?aiju61') format('woff'),
    url('/fonts/icomoon.svg?aiju61#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: '\f067';
}
.icon-search:before {
  content: '\f002';
}
.icon-envelope-o:before {
  content: '\f003';
}
.icon-user:before {
  content: '\f007';
}
.icon-film:before {
  content: '\f008';
}
.icon-th-large:before {
  content: '\f009';
}
.icon-th-list:before {
  content: '\f00b';
}
.icon-headphones:before {
  content: '\f025';
}
.icon-camera:before {
  content: '\f030';
}
.icon-map-marker:before {
  content: '\f041';
}
.icon-chevron-right:before {
  content: '\f054';
}
.icon-calendar:before {
  content: '\f073';
}
.icon-facebook-square:before {
  content: '\f082';
}
.icon-cogs:before {
  content: '\f085';
}
.icon-gears:before {
  content: '\f085';
}
.icon-github:before {
  content: '\f09b';
}
.icon-globe:before {
  content: '\f0ac';
}
.icon-cut:before {
  content: '\f0c4';
}
.icon-scissors:before {
  content: '\f0c4';
}
.icon-stethoscope:before {
  content: '\f0f1';
}
.icon-calendar-o:before {
  content: '\f133';
}
.icon-instagram:before {
  content: '\f16d';
}
.icon-graduation-cap:before {
  content: '\f19d';
}
.icon-mortar-board:before {
  content: '\f19d';
}
.icon-google:before {
  content: '\f1a0';
}
.icon-child:before {
  content: '\f1ae';
}
.icon-paper-plane:before {
  content: '\f1d8';
}
.icon-send:before {
  content: '\f1d8';
}
.icon-futbol-o:before {
  content: '\f1e3';
}
.icon-soccer-ball-o:before {
  content: '\f1e3';
}
.icon-trash:before {
  content: '\f1f8';
}
.icon-paint-brush:before {
  content: '\f1fc';
}
.icon-bicycle:before {
  content: '\f206';
}
.icon-creative-commons:before {
  content: '\f25e';
}
.icon-map-pin:before {
  content: '\f276';
}
.icon-shopping-bag:before {
  content: '\f290';
}
.icon-envira:before {
  content: '\f299';
}
.icon-american-sign-language-interpreting:before {
  content: '\f2a3';
}
.icon-asl-interpreting:before {
  content: '\f2a3';
}
.icon-handshake-o:before {
  content: '\f2b5';
}
.icon-telegram:before {
  content: '\f2c6';
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.my__container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0px 20px;
}

.logo {
  width: 130px;
  height: 100px;
}

li {
  list-style: none;
}

/* button {
  cursor: pointer;
}
button:hover {
  background-color: #17a589;
} */
.user-profile__link {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}
.user-profile__link:hover {
  text-decoration: none;
  color: #16a085;
  cursor: pointer;
}
.my__button {
  color: #fff;
  border: 1px solid #16a085;
  background-color: #16a085;
  padding: 4px 30px;
  border-radius: 15px;

  transition: all 0.2s;
}
.my__button:hover {
  background-color: rgba(22, 160, 133, 0.9);
  color: #fff;
  /* box-shadow: 0px 0px 9px -2px rgba(22, 160, 132, 1); */
}
.my__button:focus {
  outline: none;
}
.link {
  text-decoration: none;
  color: #fff;
}
.link:hover {
  text-decoration: none;
  color: #fff;
}
.link-btn-dark {
  background-color: rgba(47, 49, 60, 0.9);
}
.link-btn {
  background-color: rgba(22, 160, 133, 0.9);
}
.link-btn,
.link-btn-dark {
  padding: 7px 30px;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}
.link-btn:hover {
  text-decoration: none;
  color: #fff;
}
.link-btn + .link-btn {
  margin-left: 10px;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1590px) {
  .header__calendar-list {
    right: 10%;
  }
}
@media (max-width: 1440px) {
  .list__events-item.card {
    -ms-flex-preferred-size: calc(33% - 50px);
    flex-basis: calc(33% - 50px);
  }
}

@media (max-width: 1100px) {
  .list__events-item.card {
    -ms-flex-preferred-size: calc(50% - 50px);
    flex-basis: calc(50% - 50px);
  }

  .slider__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .footer__col {
    max-width: 120px;
  }
  .footer__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__col-follow {
    margin: 0 auto;
    text-align: center;
    min-width: 100%;
    width: 100%;
  }
  .footer__col-follow .footer__col-title {
    display: none;
  }
}

@media (max-width: 900px) {
  header .form__search_event input:focus {
    min-width: 250px;
  }
  .slider__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .slider__btn {
    font-size: 15px;
    padding: 7px 20px;
  }
  .list__events-item {
    min-width: 300px;
    width: 100%;
    display: block;
    -ms-flex-preferred-size: calc(25% - 50px);
    flex-basis: calc(25% - 50px);
    border: none;
  }

  .list__events-item .list__events-item-img {
    min-height: 180px;
    width: 100%;
    max-width: none;
  }
  .list__events-item .list__events-item-description {
    padding-left: 15px;
    padding-bottom: 15px;
  }
  .list__events-item-category,
  .list__events-item-title {
    margin-bottom: 0;
  }
}

@media (max-width: 750px) {
  .list__events-item.card {
    -ms-flex-preferred-size: calc(90%);
    flex-basis: calc(90%);
    margin: 20px auto;
  }
  header .form__search_event {
    display: none;
  }
  .header__cities-list ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  .slider__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .slider__btn {
    font-size: 15px;
    padding: 5px 15px;
  }
  .carousel__content {
    max-width: 75%;
    width: 100%;
    padding: 15px;
  }
  .header__calendar-list {
    right: 20%;
  }
}
@media (max-width: 650px) {
  .slider__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .slider__btn {
    display: none;
  }
}
@media (max-width: 600px) {
  .header__cities-list ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding: 20px 20px;
  }
  .footer__col {
    max-width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  .footer__content ul {
    margin-top: 20px;
  }
  .list__events-item .list__events-item-bottom_info {
    display: block;
  }
  .list__events-item-creator,
  .list__events-item-descr {
    display: none;
  }
  .list__events-item-location,
  .list__events-item-date {
    margin-bottom: 15px;
  }
  .list__events-sort_btn-item {
    display: none;
  }
  .event-item__desctiption,
  .event-item__info {
    font-size: 17px;
  }
  .event-item__desctiption h3,
  .event-item__info h3 {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .header .header__inner {
    display: block;
  }
  .header .header__logo {
    text-align: center;
  }
  .header .header__nav {
    height: 50px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .header .header__cities-list,
  .header .header__calendar-list {
    top: 150px;
    left: 0;
    right: 0;
    max-width: none;
    margin-left: 15px;
  }
  .header span {
    margin-left: 0px;
  }
  .map-container {
    height: 30vh;
  }
}

@media (max-width: 350px) {
  .list__events-item {
    min-width: 200px;
    max-width: 300px;
  }
  .list__events-item.card {
    min-width: 280px;
    -ms-flex-preferred-size: calc(100%);
    flex-basis: calc(100%);
  }
  .footer__col-follow li + li {
    margin-left: 15px;
  }
}
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');
body {
  font-family: 'Quicksand', sans-serif;
}
