.header {
  font-size: 18px;
  background-color: rgba(47, 49, 60, 0.9);
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.header span {
  display: block;
  color: #fff;
  margin-left: 30px;
}

.header form {
  position: relative;
  margin-right: 15px;
  margin-left: auto;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .header__calendar,
.header .header__cities {
  cursor: pointer;
  position: relative;
  border: none;
  background-color: transparent;
  color: #fff;
  outline: none;
  margin-left: 20px;
}

.header .header__calendar:before {
  content: "\f073";
  font-family: "icomoon";
  font-size: 20px;
  color: #fff;
}

.header__cities {
  cursor: pointer;
  position: relative;
  padding-left: 15px;
  margin-left: 50px;
  position: relative;
}

.header__cities:before {
  position: absolute;
  color: #fff;
  content: "\f041";
  font-family: "icomoon";
  left: 0px;
}

.header__calendar-list,
.header__cities-list {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  max-width: 200px;
  position: absolute;
  top: 100px;
  z-index: 5;
  right: 20%;
  overflow: hidden;
  -webkit-transition: all 0.9s;
  -o-transition: all 0.9s;
  transition: all 0.9s;
}

.header__calendar-list.open,
.header__cities-list.open {
  height: auto;
}

.header__calendar-list a,
.header__cities-list a {
  text-decoration: none;
  cursor: pointer;
}

.header__calendar-list ul,
.header__cities-list ul {
  padding: 20px;
  margin: 0;
  width: auto;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.header__calendar-list li:hover,
.header__cities-list li:hover {
  color: #16a085;
}

.header__calendar-list li + li,
.header__cities-list li + li {
  margin-top: 20px;
}

.header__cities-list {
  max-width: 100%;
  left: 0;
  right: 0;
}

.header__cities-list ul {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}
.header__nav-link {
  color: #fff;
  margin-left: 20px;
}
.header__nav-link:hover {
  text-decoration: none;
  color: #fff;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
