.container{
    max-width: 1250px;
    margin: 0 auto;
}
.logo{
    font-size: 30px;
}
.logo span{
    font-size: 50px;
    font-weight: 700;
    color: #58be66;
}
.navigation{
    display: flex;
    align-items: center;
}
.navigation a{
    color: #000;
    font-size: 18px;
}
.navigation a:hover{
    color: #000;
    text-decoration: none;
}
.navigation a+a{
    margin-left: 25px;
}