@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);

.user-profile {
    margin: auto;
    background: #fff;
    border-radius: .3rem;
}

.user-header {
    display: flex;
    align-items: center;
}

.user-header .user-names {
    margin-left: 2rem;
}

.user-profile .user-names #fullname {
    color: #16a085;
    font-size: 1.5rem;
    font-family: "Coda", sans-serif;
    font-weight: bold;
}

#username {
    color: #3498db;
    font-size: .87rem;
    font-family: "varela round", sans-serif;
}

.user-profile>.user-contacts {
    margin: auto;
    margin-top: 1.35rem;
    width: 18em;
    color: #7f8c8d;
    font-size: 1rem;
    font-family: "varela round", sans-serif;
}

.user-profile img#avatar {
    padding: .7rem;
    height: 7rem;
    width: 7rem;
    border-radius: 18rem;
}

.user-profile .btn {
    margin: 1rem 0rem 1rem 2rem;
}

.user-profile:hover {
    box-shadow: 5px 5px 10px #16a085;
}