.addEvent {
  padding: 0;
  padding-bottom: 20px;
  width: 55%;
  height: 600px;
  margin: 5rem auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.addEvent3 {
  padding: 0;
  padding-bottom: 20px;
  width: 55%;
  height: 600px;
  margin: 5rem auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.addEvent3 h3 {
  color: white;
  text-align: center;
  background-color: #16a085;
  padding: 10px;
  margin-bottom: 30px;
}
.addEvent h3 {
  color: white;
  text-align: center;
  background-color: #16a085;
  padding: 10px;
  margin-bottom: 30px;
}

label {
  font-weight: bold;
}

.form-group {
  width: 80%;
  margin: auto;
}

.addBtn {
  text-align: right;
  margin-top: 20px;
}

.addBtn button {
  width: 80px;
  margin-left: 12px;
  color: #16a085 !important;
  border-color: #16a085 !important;
}

.addBtn button:hover {
  background-color: #16a085 !important;
  color: white !important;
}

.react-switch-div {
  display: inline-block;
  margin-left: 65px;
  width: 38%;
}

.price-div {
  display: inline-block;
}

.react-datepicker__input-container {
  margin-left: 68px;
}
.react-datepicker-wrapper {
  display: block;
}

.datelab {
  margin-left: 65px;
}
.form-control.react-datepicker-ignore-onclickoutside {
  width: 80% !important;
}
.form-control.date-control {
  width: 80% !important;
}
