.div-avatar-container {
  min-height: 250px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 2rem 2rem;
}
.div-avatar-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 0.5rem 1rem 1rem;
  padding: 1rem 0;
}
.div-avatar-inputs label {
  margin-right: 1rem;
}
.div-avatar-inputs > div {
  text-align: left;
}
