.update-title {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 20px;
}

.input_wrapper-number {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}
.radio-wrapper {
  display: flex;
  justify-content: flex-start;
}
.radio-wrapper div + div {
  margin-left: 80px;
}
.card_wrapper {
  margin: 60px auto;
  max-width: 700px;
}
